<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<div class="btn btn-primary"><%= link_to 'Edit', edit_project_path(@project) %></div>
<div class="btn btn-primary"><%= link_to 'Back', projects_path %></div>
